%div.data_file_flowbox
  %h2.file_header
    Data File
  %div.remove_file_button{:style => "float:right;"}
    =link_to(image_tag("cross.png"), "#")
  %div.forms
    =f.label :title, "Title/Path*"
    =f.text_field :title
    %br
    =f.label :record_count, "Number of Records"
    =f.text_field :record_count
    %br.clear
  .fields
    -data_file.fields.each do |field|
      -f.fields_for :fields, field do |ff|
        =render :partial => 'field', :locals => {:f => ff, :field => field}
      #field_template{:style => "display:none;"}
        =gen_field_template(f)
  %br
  %div.add_field_button
    =link_to(image_tag("32/plus-h.png"), "#")
