.field_flowbox
  %h3.field_header
    Field
  =f.hidden_field :_destroy
  =f.hidden_field :column
  %div.field_options
    %div.remove_field_button{:style => "padding:5px"}
      =link_to(image_tag("cross.png"), "#")
    %div.swap_up{:style => "padding:5px"}
      =link_to(image_tag("16/up-h.png"),"#")
    %div.swap_down{:style => "padding:5px"}
      =link_to(image_tag("16/down-h.png"),"#")  
  %div.subforms
    =f.label :name, "Name*"
    =f.text_field :name
    =f.label :data_type, "Data Type", :class => "smaller-label"
    =f.select :data_type, options_for_select(Field::TYPES,field.data_type)       
    %br
    =f.label :doc, "Description"
    =f.text_field :doc, :size => 51, :style => "width:424px;"
