%h3
  1.  Please provide some background information 
-form_for @dataset do |form|
  =form.error_messages  
  .flowbox
    =form.label :company_name
    =form.text_field :company_name
    %br
    =form.label :email
    =form.text_field :email
    %br
    =form.label :contact_name
    =form.text_field :contact_name
    %br
    =form.label :phone
    =form.text_field :phone
    %br
    =form.label :title
    =form.text_field :title
    %br
    =form.label :description
    =form.text_area :description, :rows => 3
  %br.clear
  %div.step 
    %h3
      2. Describe the fields of the table
    %h4
      %ul
        %li
          If you have multiple related tables, use the "Add File" button to create additional forms
  .data_files
    -form.fields_for :data_files, :child_index => Time.now.to_i do |ff|
      =render "data_file", :f => ff

      #field_template{:style => "display:none;"}
        =gen_field_template(ff)

  #data_file_template{:style => "display:none;"}
    =gen_data_file_template(form)


  %div.add_file_button
    =link_to(image_tag("32/plus-a.png"), "#")
  Add File
  %br.clear
  %div.step
    %h3
      3. Click "Review" to see a summary of the dataset schema
    %h4
      %ul
        %li
          You can always come back and make changes
  %div{:style => "float:right;"}
    =form.submit "Review"
