-form_for @dataset do |form|

  =form.label :company_name
  =form.text_field :company_name
  %br
  =form.label :email
  =form.text_field :email
  %br
  =form.label :contact_name
  =form.text_field :contact_name
  %br
  =form.label :phone
  =form.text_field :phone
  %br
  =form.label :title
  =form.text_field :title
  %br
  =form.label :description
  =form.text_area :description, :rows => 5
  %br
  =form.submit "Create Dataset"
  

