%p
  With this tool you can provide Infochimps with detailed information about the form of the data you have.
  We will create the schema for your dataset by defining the table(s) in the dataset and the fields that each table contains.
%h3
  1.  Please provide some background information 
=render "form"
