%h1
  Company: 
  =@dataset.company_name
%br
%h2
  Dataset: 
  =@dataset.title

%h3
  Data Files:
-if @dataset.data_files.empty?
  No files yet, click below to start.
-else
  -for df in @dataset.data_files
    .flowbox
      %h4
        =df.title
      Records: 
      =df.record_count

%br
=link_to "Back", datasets_path  
=link_to "Add Data File", new_dataset_data_file_path(@dataset)

