.flowbox
  #div
    Company:
    =@dataset.company_name
    %br
    Email:
    =@dataset.email
  -if @dataset.contact_name.present? || @dataset.phone.present?
    #div
      -if @dataset.contact_name.present?
        Contact:
        =@dataset.contact_name
      -if @dataset.phone.present?
        %br
        Phone:
        =@dataset.phone
%br
%h2
  Dataset
  =@dataset.title
.flowbox
  %h3
    Data Files
  -if @dataset.data_files.empty?
    No files yet, please go back and add a data file.
  -else
    -for df in @dataset.data_files
      .flowbox
        %h3
          Title/Path: #{df.title}
          %br
          Number of Records: #{df.record_count}
        %table
          %thead
            %th
              Column
            %th
              Field Name
            %th
              Data Type
            %th
              Description
          -for f in df.fields.by_column
            %tbody
              %tr
                %th
                  =f.column
                %th
                  =f.name
                %th
                  =f.data_type
                %td                  
                  -unless f.doc.blank?            
                    =f.doc
%br
%h2                
  Generated Schema:
%div.schema_print  
  %pre=JSON.pretty_generate(@dataset.schema)
%br
%br
=link_to "Edit Schema", edit_dataset_path(@dataset.uuid)
=link_to "Submit Schema", "#", :style => "float:right"
%br
%br