%h1
  Company: 
  =@dataset.company_name
%br
%h2
  Dataset: 
  =@dataset.title
%h3
  Data Files:
-if @dataset.data_files.empty?
  No files yet, please add a file before submitting.
-else
  %ul  
    -for df in @dataset.data_files
      %li
        =df.title
        %ul
          -for f in df.fields.by_column
            %li
              =f.name
              [#{f.data_type}]
              -unless f.doc.blank?
                <span>--</span>
                =f.doc
%br
=link_to "Edit Dataset", edit_dataset_path(@dataset.uuid)
