.flowbox {
  display: block;  
  background-color: #DCDCDC;
  border: 1px solid #696969;
  padding: 15px 10px 10px 15px;
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px;
  overflow:auto;
  width: 25%;
}
