.data_file_flowbox {
  display: block;  
  background-color: #FFF;
  border: 1px solid #C7D1D4;
  padding: 5px 10px 5px 10px;
  margin: 17px 0px 0px 12px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  overflow:auto;
  width: 95%;
}

.field_flowbox {
  margin-top:10px;
  display: block;  
  background-color: #F2F4F5;
  border: 1px solid #C7D1D4;
  padding: 5px 10px 5px 10px;
  margin-bottom: 3px;
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px;
  overflow:auto;
  width: 95%;
}

.flowbox {
  display: block;  
  background-color: #F2F4F5;
  border: 1px solid #C7D1D4;
  padding: 5px 10px 10px 10px;
  margin-bottom: 3px;
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
  overflow:auto;
  position:relative;
}

.step {
  padding:10px;
}

.field_options {
  float:right;
  width:16px;
}

.add_field_button{width:32px;height:32px;}
.add_file_button{width:32px;height:32px; position:relative; top:5px; left:23px;}
.add_field_button span {display:block; float:left;}

input#dataset_submit {font-size:16px;}


body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

.field_header {
  float:left;
  width:150px;
}

.file_header {
  float:left;
  width:160px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#inner_container {
  width: 950px;
  margin: 0 auto;
  background-color: #FFF;
  margin-top: 20px;
}

#nav_container{
  width: 960px;
  margin: 0 auto;	
  margin-top:10px;
  border-bottom:2px solid #4D5D85;
}

#inner_container p {
  font:14px arial;
  line-height:20px;
}

#nav_container h1 {
	color:#10293A;
	font-size:48px;
	font-weight:bold;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.flowbox.boxtop label {
	width:200px;
	display:block;
	font:14px arial;
}
.flowbox.boxtop input {
	width:429px;
	font:12px arial;
	padding:5px;
	margin-bottom:8px;
}
.flowbox.boxtop div {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align:top;
	margin:5px 10px 0px;
	width:441px;
}
.flowbox.boxtop div textarea {
	width:429px;
	height:122px;
	font:12px arial;
}
h2 {
	font-size:30px !important;
}
h4 ul {
	list-style:none;	
}

h4 ul li {
	padding:5px 0px 5px 35px;
	background:url("list.jpg") no-repeat left 4px !important;
	display:block;
	font-size:17px;
}

.description {
	position:absolute;
	top:4px;
	right:10px;
}

.forms label, .forms input {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align:top;	
} 
.forms label, .subforms label {
	width:130px;
	font:14px arial;
	line-height:26px;
	text-align:right;
}

.subforms label, .subforms input {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align:top;		
}
.forms input, .subforms input, .subforms select {padding:3px 0px;}
.smaller-label {width:75px !important;}
.add_field_button a img {float:left;}


#container {padding-bottom:20px;}


