!!! Doctype html
!!! Strict
%html
  %head
    =stylesheet_link_tag "scaffold"
    =stylesheet_link_tag "screen"
    =stylesheet_link_tag "print"
    <!--[if lt IE 8]>
    =stylesheet_link_tag "ie"    
    <![endif]-->
    %script{:type => "text/javascript",:src=> "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => "text/javascript", :src=> "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js"}
    =javascript_include_tag "application"
  %body
    #container
      #nav_container
        = render :partial => '/app/topbar'
      #inner_container
        = yield



